<footer id="footer">
    <div class="footer-content">
        <div class="sec about-us"> 
        <h2>ABOUT US</h2>
        <P>Established in 2024, Shoocart.in is your premier online destination for high-quality footwear. 
            We offer a curated selection of stylish and comfortable shoes to elevate your everyday look. 
            With a focus on customer satisfaction and convenience, Shoocart.in provides a seamless 
            shopping experience with secure payment options and prompt delivery. 
            Shop with us and step into style with Shoocart.in!
        </P>
        <ul class="social-icon">
            <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>

            <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
        </ul>
        </div>
    <div class="sec quick-links">
        <h2>QUICK LINKS</h2>
        <ul>
        <li><a href="/page/about">ABOUT US</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">PRIVACY POLICY</a></li>
        <li><a href="#">TERMS & CONDITIONS</a></li>
        <li><a href="/page/contact">CONTACT</a></li>
        </ul>
    </div>
    <div class="sec quick-links">
        <h2>SHOP ONLINE</h2>
        <ul>
        <li><a href="#">MEN</a></li>
        <li><a href="#">WOMEN</a></li>
        <li><a href="#">SNEAKERS</a></li>
        </ul>
    </div>
    <div class="sec contact-sect">
        <h2>CONTACT US</h2>
        <ul class="info">
             <li><span><i class="fa-regular fa-envelope"></i></span>
                <p><a href="mailto:contact@shoocart.in">contact@shoocart.in </a></p>
                <span><i class="fa-solid fa-phone"></i></span>
                <p><a href="tel:+911234567890">  0123456789</a></p></li>
        </ul>

    </div>
    </div>

</footer>