<!DOCTYPE html>
<html lang="en">
<head>
    <title>Shookart</title>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <body>
        <!-- hero section starts here -->
        <div class="home-page">
          <div class="home-hero">
            <div class="home-container">
              <p class="banner" id="banner">Welcome to Shoocart.in</p>
      
              <div class="image-container">
                <img src="/img/home/banner1.png" id="slider" alt="Slider Image" />
      
                <div id="change-image-btn-right" class="image-btn-right">
                  <i class="fa-solid fa-arrow-right"></i>
                </div>
      
                <div id="change-image-btn-left" class="image-btn-left">
                  <i class="fa-solid fa-arrow-left"></i>
                </div>
              </div>
            </div>
      
            <div class="hero-info">
              <div class="hero-info-1">
                <div class="free-shipping hero-info-card">
                  <img src="/img/home/freeshipping.png" alt="" class="hero-info-img ship" />
                  <h4 class="d-hero-info-head">Free Shipping</h4>
                  <p class="d-hero-info-para">free shipping on all orders over $50</p>
                </div>
      
                <div class="easy-return hero-info-card">
                  <img src="/img/home/easyreturn.png" alt="" class="hero-info-img return" />
                  <h4 class="d-hero-info-head">Return & Exchange</h4>
                  <p class="d-hero-info-para">
                    Enjoy hassle-free returns & exchanges within 30 days
                  </p>
                </div>
              </div>
              <div class="hero-info-2">
                <div class="secure-payment hero-info-card">
                  <img src="/img/home/securepayment.png" alt="" class="hero-info-img" />
                  <h4 class="d-hero-info-head">Secure Payment</h4>
                  <p class="d-hero-info-para">
                    ensuring your transactions are safe & your info is protected
                  </p>
                </div>
      
                <div class="customer-support hero-info-card">
                  <img src="/img/home/customersupport.png" alt="" class="hero-info-img" />
                  <h4 class="d-hero-info-head">Customer Support</h4>
                  <p class="d-hero-info-para">
                    Customer Support always here to help.
                  </p>
                </div>
              </div>
            </div>
          </div>
      
          <!-- hero section ends here -->
      
      
          <!-- product section starts here -->
      
          <section id="product-men">
            <div class="product-men">
              <h2 class="prod-tablet-title">Men Shoes</h2>
              <div class="prod-men-left">
                <img src="https://images.unsplash.com/photo-1525966222134-fcfa99b8ae77?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8c2hvZXN8ZW58MHx8MHx8fDA%3D" alt="">
              </div>
              <div class="prod-men-right">
                <div class="prod-men-right-top">
                  <h2>Men Shoes</h2>
                </div>
                <div class="prod-men-right-bottom">
                  <!-- men cards -->
                  <div class="prod-men-cards">
                    <div class="card-part1">
                      <div class="card">
                        <div class="card-img">
                          <img src="https://images.unsplash.com/photo-1560769629-975ec94e6a86?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8c2hvZXN8ZW58MHx8MHx8fDA%3D" alt="">
                        </div>
                        <div class="card-content">
                          <div class="name"></div>
                          <div class="price"></div>
                          <div class="rating"></div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-img">
                          <img src="https://images.unsplash.com/photo-1460353581641-37baddab0fa2?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fHNob2VzfGVufDB8fDB8fHww" alt="">
                        </div>
                        <div class="card-content">
                          <div class="name"></div>
                          <div class="price"></div>
                          <div class="rating"></div>
                        </div>
                      </div>
                    </div>
                    <div class="card-part2">
                      <div class="card">
                        <div class="card-img">
                          <img src="https://images.unsplash.com/photo-1562183241-b937e95585b6?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fHNob2VzfGVufDB8fDB8fHww" alt="">
                        </div>
                        <div class="card-content">
                          <div class="name"></div>
                          <div class="price"></div>
                          <div class="rating"></div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-img">
                          <img src="https://images.unsplash.com/photo-1595341888016-a392ef81b7de?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fHNob2VzfGVufDB8fDB8fHww" alt="">
                        </div>
                        <div class="card-content">
                          <div class="name"></div>
                          <div class="price"></div>
                          <div class="rating"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
      
            </div>
          </section>
      
          <!-- Sneakers section -->
          <section id="product-men">
            <div class="product-men">
              <h2 class="prod-tablet-title">Sneakers</h2>
              <div class="prod-men-left">
                <img src="https://images.unsplash.com/photo-1525966222134-fcfa99b8ae77?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8c2hvZXN8ZW58MHx8MHx8fDA%3D" alt="">
              </div>
              <div class="prod-men-right">
                <div class="prod-men-right-top">
                  <h2>Sneakers</h2>
                </div>
                <div class="prod-men-right-bottom">
                  <!-- men cards -->
                  <div class="prod-men-cards">
                    <div class="card-part1">
                      <div class="card">
                        <div class="card-img">
                          <img src="https://images.unsplash.com/photo-1560769629-975ec94e6a86?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8c2hvZXN8ZW58MHx8MHx8fDA%3D" alt="">
                        </div>
                        <div class="card-content">
                          <div class="name"></div>
                          <div class="price"></div>
                          <div class="rating"></div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-img">
                          <img src="https://images.unsplash.com/photo-1460353581641-37baddab0fa2?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fHNob2VzfGVufDB8fDB8fHww" alt="">
                        </div>
                        <div class="card-content">
                          <div class="name"></div>
                          <div class="price"></div>
                          <div class="rating"></div>
                        </div>
                      </div>
                    </div>
                    <div class="card-part2">
                      <div class="card">
                        <div class="card-img">
                          <img src="https://images.unsplash.com/photo-1562183241-b937e95585b6?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fHNob2VzfGVufDB8fDB8fHww" alt="">
                        </div>
                        <div class="card-content">
                          <div class="name"></div>
                          <div class="price"></div>
                          <div class="rating"></div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-img">
                          <img src="https://images.unsplash.com/photo-1595341888016-a392ef81b7de?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fHNob2VzfGVufDB8fDB8fHww" alt="">
                        </div>
                        <div class="card-content">
                          <div class="name"></div>
                          <div class="price"></div>
                          <div class="rating"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
      
            </div>
          </section>
      
          <!-- Product section ends here -->
      
        </div>
      
        <%- include('./partials/footer.ejs') %>
        
        
        <script src="/js/homeScript.js"></script>
    <%- include('./partials/script.ejs') %>
</body>
</html>
