/* Css Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1450px;
  height: 100%;
  position: relative;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

/* header styling */
#header {
  width: 100%;
  /* height: 12vh; */
  /* background-color: red; */
  padding: 0px 10px 0 10px;
}
#header nav {
  display: flex;
  flex-direction: column;
  gap: -4px;

}
#header .nav-top ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.5rem;
}
#header .nav-top ul a {
  color: black;
  font-size: 1vmax;
}
#header .nav-top ul a:hover {
  color: #ff7f00;
  transition: 0.4s;
}
#header .nav-bottom {
  width: 100%;
  display: flex;
  font-size: 2rem;
  justify-content: space-between;
  align-items: center;
}
#header .nav-bottom .logo {
  font-size: 2.2vmax;
  width: 18%;
}
#header .nav-bottom .logo a {
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
}
#header .nav-bottom .logo-text {
  padding-bottom: 8px;
}
#header .nav-bottom .logo img {
  width: 6.5vmax;
  height: 6.5vmax;
}
#header .logo-c {
  color: #ff7f00;
}
#header .nav-bottom .nav-content {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 1.2vh;
}
#header .nav-bottom ul {
  display: flex;
  gap: 2vw;
}
#header .nav-bottom ul a {
  color: #000;
  font-size: 1.2vmax;
  font-weight: 500;
}
#header .nav-bottom ul a:hover {
  color: #ff7f00;
  transition-duration: 0.4s;
}
#header .nav-bottom .nav-menus {
  width: 40%;
}
#header .search-form {
  width: 25%;
  border-radius: 24px;
  background-color: #e6e6e6ae;
}
#header .search-form:hover {
  background-color: #d2d2d2c1;
}
#header .search-form form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
#header .search-form form input {
  width: 90%;
  padding: 0.5rem;
  border: none;
  outline: none;
  font-size: 1vw;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  background-color: transparent;
}
#header .search-form button {
  display: none;
}
#header .search-form form .search-icon {
  margin-left: 8px;
  font-size: 1vw;
  width: 10%;
}
#header .search-form .search-icon:hover {
  background-color: #e5e5e5;
}
#header .acc-btn {
  padding: 0.4rem 0.5rem;
  border-radius: 8px;
  width: fit-content;
  border: none;
  font-size: 1.2vmax;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: .5rem;
}
#header .acc-btn:hover {
  background-color: #ff7f00;
  transition-duration: 0.6s;
}
#header .cart {
  cursor: pointer;
  font-size: 2vmax;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1vmax;
  font-weight: 500;
}
#header .cart-text {
  display: none;
}

#header #menu-bar {
  font-size: 3.4vmax;
  display: none;
}
#header #cross {
  font-size: 3vmax;
  display: none;
}
#header .dsp-block {
  display: block;
}
#header .dsp-none {
  display: none;
}


/* header styling ends */




/* keyframe animations starts here */
@keyframes comeOut {
  0% {
width: 0;

  }
  100% {
    width: 90%;
  }
}


/* keyframe animations ends here */



/* Media query starts */

/* media query for nav bar */
@media (max-width: 990px) {
  #header #active{
    padding-top: 6vmax;
    position: absolute;
    background-color: #ffffff;
    top: 0;
    right: 0;
    width: 90%;
    height: 100%;
    z-index: 5;
    animation-name: comeOut;
    animation-duration: .3s;
    box-shadow: -50px 0 40px rgb(192, 192, 192);
    flex-direction: column;
    justify-content: flex-start;
  
  }
  #header .nav-menus, #header .acc-text {
    display: none;
  }
  #header #menu-bar {
    display: block;
  }
  #header .acc-btn {
    font-size: 3vmax;
    background-color: transparent;
  }
  #header .cart {
    font-size: 3vmax;
  }
  #header .nav-bottom .nav-content {
   justify-content: flex-end;
   gap: 5.2vw; 
  }

  #header  .nav-menus ul{
    flex-direction: column;
    gap: 1.5vmax;
  }
  #header  .nav-menus ul a {
    font-size: 3vmax;
  }
  #header .search-form {
    display: none;
  }
  #header .acc-btn {
    margin-right: 4vmin;
  }
  #header .cart-text {
    margin-right: 6vmin;
  }
  #header #cross {
    position: absolute;
    right: 4vmax;
    top: 1.75vmax;
    font-size: 4vmax;
  }
}
