/* Css Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1450px;
  height: 100%;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

/* header styling */
#header {
  width: 100%;
  height: 15vh;
  /* background-color: red; */
  padding: 5px 15px;
}
#header nav {
  display: flex;
  flex-direction: column;
}
#header .nav-top ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.5rem;
}
#header .nav-top ul a {
  color: black;
  font-size: 1vmax;
}
#header .nav-top ul a:hover {
  color: #ff7f00;
  transition: 0.4s;
}
#header .nav-bottom {
  width: 100%;
  height: 80%;
  display: flex;
  font-size: 2rem;
  justify-content: space-between;
  align-items: center;
}
#header .nav-bottom .logo {
  font-size: 2.2vmax;
  width: 18%;
}
#header .nav-bottom .logo a {
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
}
#header .nav-bottom .logo-text {
  padding-bottom: 8px;
}
#header .nav-bottom .logo img {
  width: 6.5vmax;
  height: 6.5vmax;
}
#header .logo-c {
  color: #ff7f00;
}
#header .nav-bottom .nav-content {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 1.2vh;
}
#header .nav-bottom ul {
  display: flex;
  gap: 2vw;
}
#header .nav-bottom ul a {
  color: #000;
  font-size: 1.2vmax;
  font-weight: 500;
}
#header .nav-bottom ul a:hover {
  color: #ff7f00;
  transition-duration: 0.4s;
}
#header .nav-bottom .nav-menus {
  width: 40%;
}
#header .search-form {
  width: 25%;
  border-radius: 24px;
  background-color: #e6e6e6ae;
}
#header .search-form:hover {
  background-color: #d2d2d2c1;
}
#header .search-form form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
#header .search-form form input {
  width: 90%;
  padding: 0.5rem;
  border: none;
  outline: none;
  font-size: 1vw;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  background-color: transparent;
}
#header .search-form button {
  display: none;
}
#header .search-form form .search-icon {
  margin-left: 8px;
  font-size: 1vw;
  width: 10%;
}
#header .search-form .search-icon:hover {
  background-color: #e5e5e5;
}
#header .acc-btn {
  padding: 0.6rem 0.5rem;
  border-radius: 8px;
  border: none;
  font-size: 1.2vmax;
  cursor: pointer;
}
#header .acc-btn:hover {
  background-color: #ff7f00;
  transition-duration: 0.6s;
}
#header .cart {
  cursor: pointer;
  font-size: 1.6vmax;
}
/* header styling ends */

/* Media query */
